/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b4ddb4+0,83c783+17,52b152+33,008a00+67,005700+83,002400+100;Green+3D+%231 */

.verde {
  background-color: rgb(10, 139, 10);
  height: 500px;
  width: 500px;
}
.tomato {
  background-color: rgb(153, 23, 14);
  height: 500px;
  width: 500px;
}
